form.user select.form-control-user {
  color: #666 !important;
  padding: .5rem 1rem;
  height: 3.1rem;
}
form.user option[value=""][disabled] {
  display: none !important;
}
form.user option {
  color: #000 !important;
}
