form.user select.form-control-user {
  color: #666 !important;
  padding: .5rem 1rem;
  height: 3.1rem;
}
form.user option[value=""][disabled] {
  display: none !important;
}
form.user option {
  color: #000 !important;
}

.nav-link.active {
  color: #333;
}

.z-index-2 {
  z-index: 2
}

.btn-general {
  border-radius: 25px;
  width: 150px;
}

#hero {
  min-height: 400px;
}

#hero .card:hover {
  border-color: #17a2b8;
  color: #17a2b8;
  box-shadow: 1px 10px 10px #17a2b8
}

#hero input.form-control:focus {
  border-color: #17a2b8 !important;
  box-shadow: 1px 1px 10px #17a2b8;
}

.navbar-font * {
  font-weight: 700;
}

#benefits > .container {
  padding-top: 10rem;
  text-align: center;
  padding-bottom: 8rem;
}

#make-transfer {
  min-height: 600px;
}

.vector-img {
  width: inherit;
}

.joinus {
  max-width: 45rem;
}

.btn-general:hover, .nav-link:hover {
  transition: .7s ease-in-out;
}

.bg-contact {
  background-image: url("../img/e-wallet7.jpeg");
  background-position: center;
  background-size: cover;
}

#contact textarea {
  resize: none;
  border-radius: 25px;
  height: 200px;
  padding: 1rem;
}

.map-pin {
  font-size: 20px;
}

.shop-search-input1 {
  height: 3.5rem;
}

.box-shadow1 {
  box-shadow: 1px 10px 10px #eee
}

#news-letter input.form-control {
  border-radius: 25px;
  height: 3rem;
  margin-right: .5rem;
}

#news-letter input:focus {
  border-color: #fff !important;
  box-shadow: 1px 1px 10px #fff;
}


#news-letter button {
  height: 3rem;
}

#news-letter a {
  color: white;
  text-decoration: underline;
}

.height-15 {
  height: 15rem;
}

.height-12 {
  height: 12rem;
}

.shift-right-1 {
  position: relative;
  left: 2rem;
}

.shift-top-1 {
  position: relative;
  bottom: 2rem;
}

.shift-bottom-1 {
  position: relative;
  top: 2rem;
}

.shift-left-1 {
  position: relative;
  right: 2rem;
}

.container-small {
  max-width: 50rem;
}

.hero-icons {
  font-size: 3rem;
}



@media only screen and (max-width: 767px) {
  .navbar-sm-none {
    display: none;
  }

  .vector-img {
    width: 20rem;
    margin: 0 auto;
  }

  #make-transfer * {
    margin: 1rem !important;
  }

  #news-letter .news-letter {
    display: block !important;
  }

  #news-letter .news-letter button {
    margin-top: 1rem;
    width: 100%;
  }

}

@media only screen and (min-width: 768px) {
  .sidebar-mid-none {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .brand-480 {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .brand-480 {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .hero-header {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 1023px) {
  .hide-1023 {
    display: none !important;
  }
}
